{% extends 'mainpage/layout.html' %}
{% load static %}
{% block title %}
Вхід
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box"  method="post">
                    <h1>Вхід</h1>
                    <p class="text-muted"> Введіть логін та пароль</p>
                        {% csrf_token %}
                        {{form.username}}
                        {{form.password}}
                        <input type="submit" value="Увійти">
                </form>

            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'mainpage/css/login.css' %}">
{% endblock %}