{% extends 'mainpage/layout.html' %}

{% load static %}


{% block title %}
Головна
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" >DnlkSite</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                {% if request.user.is_authenticated %}
                <div  class="nav-item">
                    <form  method="post">
                        <a class="btn btn-outline-success me-2" href="{% url 'user_logout' %}" >Вийти</a>
                        <a class="btn btn-outline-success me-2" href="{% url 'createproduct' %}">Добавити товар</a>
                        <a class="btn btn-danger" >{{ user.username }}</a>
                    </form>
                </div>
                {% else %}
                    <a class="btn btn-outline-success me-2" href="{% url 'registration' %}">Реєстрація</a>
                    <a class="btn btn-outline-success me-2" href="{% url 'user_login' %}">Вхід</a>
                {% endif %}


            </div>
        </div>
    </div>
</nav>



<div class="container">
    <div class="row row-cols-4">
        {% for i in first %}
        <div class="col">
            <div class="box">
                <a>{{i.name_product}}</a><br>
                <a>{{i.price_product}}$</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<link rel="stylesheet" href="{% static 'mainpage/css/mainpage.css' %}">





{% endblock %}