{% extends 'mainpage/layout.html' %}
{% load static %}
{% block title %}
Реєстрація
{% endblock %}

{% block content %}



<div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form action="{% url 'registration' %}" class="box" method="post">
                        <h1>Реєстрація</h1>
                        {% csrf_token %}
                        {{form.username}}
                        {{form.email}}
                        {{form.password1}}
                        {{form.password2}}
                        <input type="submit" value="Зареєструватися">


                    </form>

                </div>
            </div>
        </div>
    </div>

<link rel="stylesheet" href="{% static 'mainpage/css/login.css' %}">
{% endblock %}